fastapi==0.103.1
uvicorn==0.23.2
python-multipart==0.0.6
librosa
numpy==1.24.3
opencv-python-headless==4.8.0.76
tensorflow==2.13.0
mtcnn==0.1.1
dlib
torch==2.0.1
torchvision==0.15.2
python-jose[cryptography]==3.3.0
python-dotenv==1.0.0
websockets==11.0.3
ultralytics==8.0.196
# Speech recognition dependencies
SpeechRecognition==3.10.0
openai-whisper==20231117
pyaudio==0.2.11
